<mat-stepper orientation="vertical" [linear]="true" #stepper
  style="width: 80%; margin: auto; background-color: rgba(251, 238, 238, 0.932);">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>
        <div class="stepper-label">Breakfast</div>
      </ng-template>

      <div [formGroup]="mealFrom">
        <hr class="solid">
        <label class="title">Meal From</label>
        <section class="example-radio-group">
          <mat-checkbox formControlName="boarding" (change)="handleChange($event)" value="boarding"
            style="margin: 5px;">Boarding</mat-checkbox>
          <mat-checkbox formControlName="canteen" (change)="handleChange($event)" value="canteen" style="margin: 5px;">
            Canteen</mat-checkbox>
          <mat-checkbox formControlName="ordering" (change)="handleChange($event)" value="ordering"
            style="margin: 5px;">Ordering</mat-checkbox>
          <mat-error>
            <span *ngIf="firstFormGroup.controls.mealFrom.errors">
              At least one should be selected
            </span>
          </mat-error>
        </section>
      </div>
      <div *ngIf="!mealsFromBording">

        <div *ngIf="isCanteenFoods">
          <hr class="solid">
          <label class="title">Meal Peferences - Canteen</label>
          <br>
          <br>
          <div *ngFor="let food of canteenFoods">
            <mat-checkbox (change)="showCanteenOptions($event)" value="{{food}}" required>{{food}}</mat-checkbox>
          </div>
          <mat-error>
            <span *ngIf="firstFormGroup.controls.pickedCanteenFoods.errors">
              At least one food item should be selected
            </span>
          </mat-error>
          <br>
          <div formGroupName="canteen">
            <div *ngFor="let pickedFood of pickedCanteenFoods;">
              <p>{{pickedFood}} : Rs <input placeholder="150.00" [formControlName]="pickedFood" />
                <br>
                <mat-error>
                  <span *ngIf="firstFormGroup.controls.canteen.get(pickedFood)?.errors?.required">
                    Please enter {{pickedFood}}'s price
                  </span>
                </mat-error>
                <mat-error>
                  <span *ngIf="(firstFormGroup.controls.canteen.get(pickedFood)?.errors?.pattern)">
                    Price should be numeric
                  </span>
                </mat-error>
              </p>
            </div>
          </div>
          <br>
        </div>

        <div *ngIf="isOrderingFoods">
          <hr class="solid">
          <label class="title">Meal Peferences - Ordering</label>
          <br>
          <br>
          <div *ngFor="let food of orderingFoods">
            <mat-checkbox (change)="showOrderingOptions($event)" value="{{food}}" required>{{food}}</mat-checkbox>
          </div>
          <mat-error>
            <span *ngIf="firstFormGroup.controls.pickedOrderingFoods.errors">
              At least one food item should be selected
            </span>
          </mat-error>
          <br>
          <div formGroupName="ordering">
            <div *ngFor="let pickedFood of pickedOrderingFoods;">
              <p>{{pickedFood}} : Rs <input placeholder="150.00" [formControlName]="pickedFood" />
                <br>
                <mat-error>
                  <span *ngIf="firstFormGroup.controls.ordering.get(pickedFood)?.errors?.required">
                    Please enter {{pickedFood}}'s price
                  </span>
                </mat-error>
                <mat-error>
                  <span *ngIf="(firstFormGroup.controls.ordering.get(pickedFood)?.errors?.pattern)">
                    Price should be numeric
                  </span>
                </mat-error>
              </p>
            </div>
          </div>
          <br>
          <p>
            Collecting time : 
            <input type="time" placeholder="7.00 AM" formControlName="collectingTime" />
            <br>
            <mat-error>
              <span *ngIf="firstFormGroup.controls.collectingTime.errors">
                Please enter time
              </span>
            </mat-error>
          </p>
        </div>
      </div>

      <div class="next-button">
        <button mat-flat-button color="primary" (click)="firstNext(stepper)">
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>
        <div class="stepper-label">Lunch</div>
      </ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Meal From</mat-label>
        <input matInput formControlName="mealFrom" placeholder="Ex. 1 Main St, New York, NY" required />
      </mat-form-field>
      <div class="button-rack">
        <button mat-flat-button color="accent" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" (click)="secondNext(stepper)">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>
        <div class="stepper-label">Dinner</div>
      </ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Meal From</mat-label>
        <input matInput formControlName="mealFrom" placeholder="Ex. 1 Main St, New York, NY" required />
      </mat-form-field>
      <div class="button-rack">
        <button mat-flat-button color="accent" matStepperPrevious>Back</button>
        <button mat-flat-button color="primary" (click)="thirdNext(stepper)">
          Next
        </button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="forthFormGroup" c>
    <form [formGroup]="forthFormGroup">
      <ng-template matStepLabel>
        <div class="stepper-label">Comment & Suggestion</div>
      </ng-template>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="example@gmail.com" required />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Your feadback/ideas</mat-label>
        <input matInput formControlName="comment" placeholder="Ex. 1 Main St, New York, NY" required />
      </mat-form-field>
      <div class="button-rack">
        <button mat-flat-button color="accent" matStepperPrevious>Back</button>
        <button mat-flat-button style="background-color:purple; color: white;" (click)="submit()">
          Submit
        </button>
      </div>
    </form>
  </mat-step>
</mat-stepper>