<div *ngIf="!isEndPage" class="top-bar">
  <div class="action-section" (click)="firstPageChange()">
    <mat-icon *ngIf="!isFirstPage">keyboard_arrow_left</mat-icon>
    <span>{{isFirstPage ? 'Go to Form' : 'Guideline'}}</span>
    <mat-icon *ngIf="isFirstPage">keyboard_arrow_right</mat-icon>
  </div>
</div>
<!-- Start page-->
<div *ngIf="isFirstPage">
  <app-form-start></app-form-start>
</div>
<!-- Form page-->
<div [hidden]="isEndPage" *ngIf="!isFirstPage">
  <mat-stepper orientation="vertical" [linear]="true" #stepper
    style="width: 80%; margin: auto; background-color: rgba(251, 238, 238, 0.932);">
    <!-- begin of Breakfast section of UI -->
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>
          <div class="stepper-label">Breakfast</div>
        </ng-template>

        <div [formGroup]="breakfastMealFrom">
          <hr class="solid">
          <label class="title">Meal From</label>
          <section class="example-radio-group">
            <mat-checkbox formControlName="boarding" (change)="selectBreakfastOptions($event)" value="boarding"
              style="margin: 5px;">Boarding</mat-checkbox>
            <mat-checkbox formControlName="canteen" (change)="selectBreakfastOptions($event)" value="canteen"
              style="margin: 5px;">
              Canteen</mat-checkbox>
            <mat-checkbox formControlName="ordering" (change)="selectBreakfastOptions($event)" value="ordering"
              style="margin: 5px;">Ordering</mat-checkbox>
            <mat-error>
              <span *ngIf="firstFormGroup.controls.mealFrom.errors">
                At least one should be selected
              </span>
            </mat-error>
          </section>
        </div>
        <div *ngIf="!breakfastMealsFromBording">

          <div *ngIf="isCanteenBreakfastFoods">
            <hr class="solid">
            <label class="title">Meal Peferences - Canteen</label>
            <br>
            <br>
            <div *ngFor="let food of canteenBreakfastFoods">
              <mat-checkbox (change)="pickCanteenBreakfastFoods($event)" value="{{food}}" required>{{food}}
              </mat-checkbox>
            </div>
            <mat-error>
              <span *ngIf="firstFormGroup.controls.pickedCanteenFoods.errors">
                At least one food item should be selected
              </span>
            </mat-error>
            <br>
            <div formGroupName="canteen">
              <div *ngFor="let pickedFood of pickedCanteenBreakfastFoods;">
                <p>{{pickedFood}} : Rs <input type="text"
                    onkeyup="this.value=this.value.replace(/^[\d]*[^\d]+|^0\d+/, '')" placeholder="150"
                    [formControlName]="pickedFood" />
                  <br>
                  <mat-error>
                    <span *ngIf="firstFormGroup.controls.canteen.get(pickedFood)?.errors?.required">
                      Please enter {{pickedFood}}'s price
                    </span>
                  </mat-error>
                  <mat-error>
                    <span *ngIf="(firstFormGroup.controls.canteen.get(pickedFood)?.errors?.pattern)">
                      Price should be numeric
                    </span>
                  </mat-error>
                </p>
              </div>
            </div>
            <br>
          </div>

          <div *ngIf="isOrderingBreakfastFoods">
            <hr class="solid">
            <label class="title">Meal Peferences - Ordering</label>
            <br>
            <br>
            <div *ngFor="let food of orderingBreakfastFoods">
              <mat-checkbox (change)="pickOrderingBreakfastFoods($event)" value="{{food}}" required>{{food}}
              </mat-checkbox>
            </div>
            <mat-error>
              <span *ngIf="firstFormGroup.controls.pickedOrderingFoods.errors">
                At least one food item should be selected
              </span>
            </mat-error>
            <br>
            <div formGroupName="ordering">
              <div *ngFor="let pickedFood of pickedOrderingBreakfastFoods;">
                <p>{{pickedFood}} : Rs <input type="text"
                    onkeyup="this.value=this.value.replace(/^[\d]*[^\d]+|^0\d+/, '')" placeholder="150"
                    [formControlName]="pickedFood" />
                  <br>
                  <mat-error>
                    <span *ngIf="firstFormGroup.controls.ordering.get(pickedFood)?.errors?.required">
                      Please enter {{pickedFood}}'s price
                    </span>
                  </mat-error>
                  <mat-error>
                    <span *ngIf="(firstFormGroup.controls.ordering.get(pickedFood)?.errors?.pattern)">
                      Price should be numeric
                    </span>
                  </mat-error>
                </p>
              </div>
            </div>
            <br>
            <p>
              Collecting time :
              <input type="time" placeholder="7.00 AM" formControlName="collectingTime" />
              <br>
              <mat-error>
                <span *ngIf="firstFormGroup.controls.collectingTime.errors">
                  Please enter time
                </span>
              </mat-error>
            </p>
          </div>
        </div>

        <div class="next-button">
          <button mat-flat-button color="primary" (click)="firstNext(stepper)">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <!-- begin of Lunch section of UI -->
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>
          <div class="stepper-label">Lunch</div>
        </ng-template>

        <div [formGroup]="lunchMealFrom">
          <hr class="solid">
          <label class="title">Meal From</label>
          <section class="example-radio-group">
            <mat-checkbox formControlName="boarding" (change)="selectLunchOptions($event)" value="boarding"
              style="margin: 5px;">
              Boarding</mat-checkbox>
            <mat-checkbox formControlName="canteen" (change)="selectLunchOptions($event)" value="canteen"
              style="margin: 5px;">
              Canteen</mat-checkbox>
            <mat-checkbox formControlName="ordering" (change)="selectLunchOptions($event)" value="ordering"
              style="margin: 5px;">
              Ordering</mat-checkbox>
            <mat-error>
              <span *ngIf="secondFormGroup.controls.mealFrom.errors">
                At least one should be selected
              </span>
            </mat-error>
          </section>
        </div>
        <div *ngIf="!lunchMealsFromBording">

          <div *ngIf="isCanteenLunchFoods">
            <hr class="solid">
            <label class="title">Meal Peferences - Canteen</label>
            <br>
            <br>
            <div *ngFor="let food of canteenLunchFoods">
              <mat-checkbox (change)="pickCanteenLunchFoods($event)" value="{{food}}" required>{{food}}</mat-checkbox>
            </div>
            <mat-error>
              <span *ngIf="secondFormGroup.controls.pickedCanteenFoods.errors">
                At least one food item should be selected
              </span>
            </mat-error>
            <br>
            <div formGroupName="canteen">
              <div *ngFor="let pickedFood of pickedCanteenLunchFoods;">
                <p>{{pickedFood}} : Rs <input type="text"
                    onkeyup="this.value=this.value.replace(/^[\d]*[^\d]+|^0\d+/, '')" placeholder="150"
                    [formControlName]="pickedFood" />
                  <br>
                  <mat-error>
                    <span *ngIf="secondFormGroup.controls.canteen.get(pickedFood)?.errors?.required">
                      Please enter {{pickedFood}}'s price
                    </span>
                  </mat-error>
                  <mat-error>
                    <span *ngIf="(secondFormGroup.controls.canteen.get(pickedFood)?.errors?.pattern)">
                      Price should be numeric
                    </span>
                  </mat-error>
                </p>
              </div>
            </div>
            <br>
          </div>

          <div *ngIf="isOrderingLunchFoods">
            <hr class="solid">
            <label class="title">Meal Peferences - Ordering</label>
            <br>
            <br>
            <div *ngFor="let food of orderingLunchFoods">
              <mat-checkbox (change)="pickOrderingLunchFoods($event)" value="{{food}}" required>{{food}}</mat-checkbox>
            </div>
            <mat-error>
              <span *ngIf="secondFormGroup.controls.pickedOrderingFoods.errors">
                At least one food item should be selected
              </span>
            </mat-error>
            <br>
            <div formGroupName="ordering">
              <div *ngFor="let pickedFood of pickedOrderingLunchFoods;">
                <p>{{pickedFood}} : Rs <input type="text"
                    onkeyup="this.value=this.value.replace(/^[\d]*[^\d]+|^0\d+/, '')" placeholder="150"
                    [formControlName]="pickedFood" />
                  <br>
                  <mat-error>
                    <span *ngIf="secondFormGroup.controls.ordering.get(pickedFood)?.errors?.required">
                      Please enter {{pickedFood}}'s price
                    </span>
                  </mat-error>
                  <mat-error>
                    <span *ngIf="(secondFormGroup.controls.ordering.get(pickedFood)?.errors?.pattern)">
                      Price should be numeric
                    </span>
                  </mat-error>
                </p>
              </div>
            </div>
            <br>
            <p>
              Collecting time :
              <input type="time" placeholder="7.00 AM" formControlName="collectingTime" />
              <br>
              <mat-error>
                <span *ngIf="secondFormGroup.controls.collectingTime.errors">
                  Please enter time
                </span>
              </mat-error>
            </p>
          </div>
        </div>

        <div class="button-rack">
          <button mat-flat-button color="accent" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" (click)="secondNext(stepper)">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <!-- begin of Dinner section of UI -->
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>
          <div class="stepper-label">Dinner</div>
        </ng-template>

        <div [formGroup]="dinnerMealFrom">
          <hr class="solid">
          <label class="title">Meal From</label>
          <section class="example-radio-group">
            <mat-checkbox formControlName="boarding" (change)="selectDinnerOptions($event)" value="boarding"
              style="margin: 5px;">
              Boarding</mat-checkbox>
            <mat-checkbox formControlName="canteen" (change)="selectDinnerOptions($event)" value="canteen"
              style="margin: 5px;">
              Canteen</mat-checkbox>
            <mat-checkbox formControlName="ordering" (change)="selectDinnerOptions($event)" value="ordering"
              style="margin: 5px;">
              Ordering</mat-checkbox>
            <mat-error>
              <span *ngIf="thirdFormGroup.controls.mealFrom.errors">
                At least one should be selected
              </span>
            </mat-error>
          </section>
        </div>
        <div *ngIf="!dinnerMealsFromBording">

          <div *ngIf="isCanteenDinnerFoods">
            <hr class="solid">
            <label class="title">Meal Peferences - Canteen</label>
            <br>
            <br>
            <div *ngFor="let food of canteenDinnerFoods">
              <mat-checkbox (change)="pickCanteenDinnerFoods($event)" value="{{food}}" required>{{food}}</mat-checkbox>
            </div>
            <mat-error>
              <span *ngIf="thirdFormGroup.controls.pickedCanteenFoods.errors">
                At least one food item should be selected
              </span>
            </mat-error>
            <br>
            <div formGroupName="canteen">
              <div *ngFor="let pickedFood of pickedCanteenDinnerFoods;">
                <p>{{pickedFood}} : Rs <input type="text"
                    onkeyup="this.value=this.value.replace(/^[\d]*[^\d]+|^0\d+/, '')" placeholder="150"
                    [formControlName]="pickedFood" />
                  <br>
                  <mat-error>
                    <span *ngIf="thirdFormGroup.controls.canteen.get(pickedFood)?.errors?.required">
                      Please enter {{pickedFood}}'s price
                    </span>
                  </mat-error>
                  <mat-error>
                    <span *ngIf="(thirdFormGroup.controls.canteen.get(pickedFood)?.errors?.pattern)">
                      Price should be numeric
                    </span>
                  </mat-error>
                </p>
              </div>
            </div>
            <br>
          </div>

          <div *ngIf="isOrderingDinnerFoods">
            <hr class="solid">
            <label class="title">Meal Peferences - Ordering</label>
            <br>
            <br>
            <div *ngFor="let food of orderingDinnerFoods">
              <mat-checkbox (change)="pickOrderingDinnerFoods($event)" value="{{food}}" required>{{food}}</mat-checkbox>
            </div>
            <mat-error>
              <span *ngIf="thirdFormGroup.controls.pickedOrderingFoods.errors">
                At least one food item should be selected
              </span>
            </mat-error>
            <br>
            <div formGroupName="ordering">
              <div *ngFor="let pickedFood of pickedOrderingDinnerFoods;">
                <p>{{pickedFood}} : Rs <input type="text"
                    onkeyup="this.value=this.value.replace(/^[\d]*[^\d]+|^0\d+/, '')" placeholder="150"
                    [formControlName]="pickedFood" />
                  <br>
                  <mat-error>
                    <span *ngIf="thirdFormGroup.controls.ordering.get(pickedFood)?.errors?.required">
                      Please enter {{pickedFood}}'s price
                    </span>
                  </mat-error>
                  <mat-error>
                    <span *ngIf="(thirdFormGroup.controls.ordering.get(pickedFood)?.errors?.pattern)">
                      Price should be numeric
                    </span>
                  </mat-error>
                </p>
              </div>
            </div>
            <br>
            <p>
              Collecting time :
              <input type="time" placeholder="7.00 AM" formControlName="collectingTime" />
              <br>
              <mat-error>
                <span *ngIf="thirdFormGroup.controls.collectingTime.errors">
                  Please enter time
                </span>
              </mat-error>
            </p>
          </div>
        </div>

        <div class="button-rack">
          <button mat-flat-button color="accent" matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" (click)="thirdNext(stepper)">
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <!-- begin of Comment & Suggestion section of UI -->
    <mat-step [stepControl]="forthFormGroup" c>
      <form [formGroup]="forthFormGroup">
        <ng-template matStepLabel>
          <div class="stepper-label">Feedback</div>
        </ng-template>

        <div class="last-section">
          <mat-label>Email</mat-label>
          <input type=text class="email-slot" placeholder="example@gmail.com" formControlName="email" />
          <mat-error>
            <span *ngIf="forthFormGroup.controls.email.errors?.required">
              Please enter valid gmail address
            </span>
          </mat-error>
          <mat-error>
            <span *ngIf="forthFormGroup.controls.email.errors?.pattern">
              Email pattern should be like example@gmail.com
            </span>
          </mat-error>
          <br>
          <mat-label>Your feedback/ideas</mat-label>
          <textarea formControlName="comment" class="comment-slot" placeholder="Comment"></textarea>
          <br>
        </div>

        <div class="button-rack">
          <button mat-flat-button color="accent" matStepperPrevious>Back</button>
          <button mat-flat-button style="background-color:purple; color: white;" (click)="submit()">
            Submit
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
<!-- End page-->
<div *ngIf="isEndPage">
  <app-form-end></app-form-end>
</div>